<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderMapper">
	<sql id="edu_orders_column">
		EDU_ORDERS.ORDER_ID,
		EDU_ORDERS.COURSE_ID,
		EDU_ORDERS.USER_ID,
		EDU_ORDERS.ORDER_NO,
		EDU_ORDERS.SUM_MONEY,
		EDU_ORDERS.STATES,
		EDU_ORDERS.DESCRIBE,
		EDU_ORDERS.CREATE_TIME,
		EDU_ORDERS.PAY_TIME,
		EDU_ORDERS.SYS_USER_ID,
		EDU_ORDERS.EXPIRE_TIME,
		EDU_ORDERS.PAY_TYPE
	</sql>
	<sql id="edu_orders_property">
		#{orderId},
		#{courseId},
		#{userId},
		#{orderNo},
		#{sumMoney},
		#{states},
		#{describe},
		#{createTime},
		#{payTime},
		#{sysUserId},
		#{expireTime},
		#{payType}
	</sql>

	<!-- 创建订单 -->
	<insert id="createOrder" parameterType="Order" useGeneratedKeys="true" keyColumn="ORDER_ID" keyProperty="orderId">
		INSERT INTO EDU_ORDERS(
		<include refid="edu_orders_column" />
		)
		VALUE(
		<include refid="edu_orders_property" />
		)
	</insert>

	<!-- 更新订单状态为支付成功状态 -->
	<update id="updateOrderSuccess" parameterType="Order">
		UPDATE EDU_ORDERS SET
		EDU_ORDERS.STATES=#{states},
		EDU_ORDERS.PAY_TIME=#{payTime},
		EDU_ORDERS.SYS_USER_ID=#{sysUserId}
		WHERE EDU_ORDERS.ORDER_NO=#{orderNo}
	</update>

	<!-- 取消或恢复订单 -->
	<update id="updateOrderState" parameterType="Order">
		UPDATE EDU_ORDERS SET
		EDU_ORDERS.STATES=#{states}
		WHERE EDU_ORDERS.ORDER_ID=#{orderId}
	</update>

	<!-- 前后台共用，分页查询订单,开始 -->
	<select id="queryOrderListPage" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		EDU_ORDERS.ORDER_ID as orderId,
		EDU_ORDERS.COURSE_ID as courseId,
		EDU_ORDERS.ORDER_NO as orderNo,
		EDU_ORDERS.SUM_MONEY as sumMoney,
		EDU_ORDERS.STATES as states,
		EDU_ORDERS.DESCRIBE as `describe`,
		EDU_ORDERS.CREATE_TIME as createTime,
		EDU_ORDERS.PAY_TIME as payTime,
		EDU_ORDERS.EXPIRE_TIME as expireTime,
		EDU_USER.EMAIL as email,
		EDU_USER.MOBILE as mobile,
		SYS_USER.LOGIN_NAME as loginName,
		EDU_COURSE.COURSE_NAME as courseName,
		EDU_COURSE.TITLE as courseTitle,
		EDU_COURSE.LOGO as courseLogo
		FROM EDU_ORDERS
		LEFT JOIN EDU_USER ON EDU_USER.USER_ID = EDU_ORDERS.USER_ID
		LEFT JOIN EDU_COURSE ON EDU_COURSE.COURSE_ID = EDU_ORDERS.COURSE_ID
		LEFT JOIN SYS_USER ON SYS_USER.USER_ID = EDU_ORDERS.SYS_USER_ID
		<where>
			<if test="e.keyWord!=null and e.keyWord!=''">
				AND (EDU_ORDERS.ORDER_NO LIKE CONCAT('%',#{e.keyWord},'%') OR EDU_USER.EMAIL LIKE CONCAT('%',#{e.keyWord},'%') OR EDU_USER.MOBILE LIKE CONCAT('%',#{e.keyWord},'%'))
			</if>
			<if test="e.beginCreateTime!=null and e.beginCreateTime!=''">
				AND EDU_ORDERS.CREATE_TIME >= #{e.beginCreateTime}
			</if>
			<if test="e.endCreateTime!=null and e.endCreateTime!=''">
				AND <![CDATA[EDU_ORDERS.CREATE_TIME <= #{e.endCreateTime}]]>
			</if>
			<if test="e.beginPayTime!=null and e.beginPayTime!=''">
				AND EDU_ORDERS.PAY_TIME >= #{e.beginPayTime}
			</if>
			<if test="e.endPayTime!=null and e.endPayTime!=''">
				AND <![CDATA[ EDU_ORDERS.PAY_TIME <= #{e.endPayTime}]]>
			</if>
			<if test="e.userId>0">
				AND EDU_ORDERS.USER_ID=#{e.userId}
			</if>
			<if test="e.states!=null and e.states!='' and e.states!='all'">
				AND EDU_ORDERS.STATES=#{e.states}
			</if>
			<if test="e.payType!=null and e.payType!=''">
				AND EDU_ORDERS.PAY_TYPE = #{e.payType}
			</if>
		</where>
		ORDER BY EDU_ORDERS.CREATE_TIME DESC
		<include refid="publicMapper.pageEnd" />
	</select>
	<select id="queryOrderListPageCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS
		LEFT JOIN EDU_USER ON EDU_USER.USER_ID = EDU_ORDERS.USER_ID
		LEFT JOIN EDU_COURSE ON EDU_COURSE.COURSE_ID = EDU_ORDERS.COURSE_ID
		LEFT JOIN SYS_USER ON SYS_USER.USER_ID = EDU_ORDERS.SYS_USER_ID
		<where>
			<if test="e.keyWord!=null and e.keyWord!=''">
				AND (EDU_ORDERS.ORDER_NO LIKE CONCAT('%',#{e.keyWord},'%') OR EDU_USER.EMAIL LIKE CONCAT('%',#{e.keyWord},'%') OR EDU_USER.MOBILE LIKE CONCAT('%',#{e.keyWord},'%'))
			</if>
			<if test="e.beginCreateTime!=null and e.beginCreateTime!=''">
				AND EDU_ORDERS.CREATE_TIME >= #{e.beginCreateTime}
			</if>
			<if test="e.endCreateTime!=null and e.endCreateTime!=''">
				AND <![CDATA[EDU_ORDERS.CREATE_TIME <= #{e.endCreateTime}]]>
			</if>
			<if test="e.beginPayTime!=null and e.beginPayTime!=''">
				AND EDU_ORDERS.PAY_TIME >= #{e.beginPayTime}
			</if>
			<if test="e.endPayTime!=null and e.endPayTime!=''">
				AND <![CDATA[ EDU_ORDERS.PAY_TIME <= #{e.endPayTime}]]>
			</if>
			<if test="e.userId>0">
				AND EDU_ORDERS.USER_ID=#{e.userId}
			</if>
			<if test="e.states!=null and e.states!='' and e.states!='all'">
				AND EDU_ORDERS.STATES=#{e.states}
			</if>
			<if test="e.payType!=null and e.payType!=''">
				AND EDU_ORDERS.PAY_TYPE = #{e.payType}
			</if>
		</where>
	</select>
	<!-- 分页查询订单,结束 -->

	<!-- 测试用户否购买过某课程 -->
	<select id="checkUserCursePay" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS
		WHERE EDU_ORDERS.USER_ID=#{userId}
		AND EDU_ORDERS.COURSE_ID=#{courseId}
		AND EDU_ORDERS.STATES='SUCCESS'
		AND EDU_ORDERS.EXPIRE_TIME>#{nowDate}
	</select>

	<!-- 查询用户不同状态的订单数量 -->
	<select id="queryOrderStateCount" parameterType="Order" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS WHERE EDU_ORDERS.USER_ID=#{userId} AND EDU_ORDERS.STATES=#{states}
	</select>

	<select id="queryOrderById" parameterType="int" resultType="Order">
		SELECT
		EDU_ORDERS.ORDER_ID as orderId,
		EDU_ORDERS.COURSE_ID as courseId,
		EDU_ORDERS.USER_ID as userId,
		EDU_ORDERS.ORDER_NO as orderNo,
		EDU_ORDERS.SUM_MONEY as sumMoney,
		EDU_ORDERS.STATES as states,
		EDU_ORDERS.DESCRIBE as `describe`,
		EDU_ORDERS.CREATE_TIME as createTime,
		EDU_ORDERS.PAY_TIME as payTime,
		EDU_ORDERS.SYS_USER_ID as sysUserId,
		EDU_ORDERS.EXPIRE_TIME as expireTime
		FROM EDU_ORDERS WHERE EDU_ORDERS.ORDER_ID=#{value}
	</select>

	<select id="queryOrderCount" parameterType="Order" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS
	</select>
	
	<select id="queryOrder" parameterType="Order" resultType="Order">
		SELECT
		<include refid="edu_orders_column" />,
		EDU_ORDERS.CREATE_TIME as createTime,
		edu_user.email ,
		edu_user.SHOW_NAME userName,
		edu_user.PIC_IMG  picImg,
		EDU_COURSE.COURSE_NAME  courseName
		FROM EDU_ORDERS 
		LEFT JOIN edu_user  on EDU_ORDERS.USER_ID = edu_user.user_id 
		LEFT JOIN EDU_COURSE ON EDU_COURSE.COURSE_ID = EDU_ORDERS.COURSE_ID
		WHERE 1=1
		order by EDU_ORDERS.CREATE_TIME desc
		<if test="limitNum>0">
				limit #{limitNum}
		</if>
	</select>
	<!-- 查询所有的订单数量 -->
	<select id="queryAllOrderCount" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS
	</select>
	<!-- 已支付和为支付的订单数量 -->
	<select id="queryOrderSuccessCount" parameterType="String" resultType="int">
		SELECT COUNT(1) FROM EDU_ORDERS WHERE EDU_ORDERS.STATES=#{value}
	</select>
	
	<!-- 更新订单 -->
	<update id="updateOrder" parameterType="Order">
		UPDATE EDU_ORDERS SET
		EDU_ORDERS.EXPIRE_TIME=#{expireTime},
		EDU_ORDERS.STATES=#{states}
		WHERE EDU_ORDERS.ORDER_NO=#{orderNo}
	</update>
</mapper>