<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
   
    <!-- 网站统计定时器 -->
    <bean id="statisticsJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" lazy-init="false">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                <property name="targetObject">
                    <ref bean="statisticsDayService" />
                </property>
                <property name="targetMethod">
                    <value>addStatisticsDayAuto</value>
                </property>
                <property name="concurrent">
                    <value>true</value>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0 10 0 * * ?</value><!-- 每天0点10触发 -->
        </property>
    </bean>
    
    <!-- 邮箱每1分钟查询一次数据库进行发送邮箱 -->
    <bean id="sendEmailMsg" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                <property name="targetObject">
                    <ref bean="userEmailMsgService" />
                </property>
                <property name="targetMethod">
                    <value>queryTimingSendEmailMsg</value>
                </property>
                <property name="concurrent">
                    <value>false</value>
                </property>
            </bean>
        </property>
        <property name="cronExpression">
            <value>0 */1 * * * ?</value><!-- 每天的每分钟 -->
        </property>
    </bean>

	<!-- 定时器配置 lazy-init='false'-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"  lazy-init="false" autowire="no"> 
		<property name="triggers"> 
			<list> 
               <!-- 统计数据每天晚上生成statisticsJob-->
               <ref bean="statisticsJob"/>
               <!-- 定时发送邮件 -->
               <ref bean="sendEmailMsg"/>
			</list>
		</property> 
	</bean>
	
	
</beans>